@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  overflow:hidden;
  background-color: hsl(0, 0%, 98%);
}
.container{
  max-width: 1300px;
  padding:30px;
}
.motto{
  font-weight: 200;
  margin: 10px auto;
  width:40%;
  text-align: center;
  color: hsl(234, 12%, 34%);
}
.motto__span{
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
.motto__description{
  margin: 0 auto;
  width:45%;
  text-align: center;
  font-weight: 400;
  color:hsl(229, 6%, 66%);
}
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 200px 200px;
  padding: 30px 50px;
  gap: 15px;
}
.card{
  display: flex; 
  flex-direction: column;
  padding:30px;
  box-shadow: 5px 4px 11px -2px rgba(0,0,0,0.38);
}
.card--karma{
  grid-column:2;
  border-top: 4px solid hsl(34, 97%, 64%);
  border-radius: 10px;
}

.card__description{
  color:  hsl(229, 6%, 66%);
}

.card--supervisor{
  border-top: 4px solid hsl(180, 62%, 55%);
  border-radius: 10px;
  transform: translateY(50%); 
}
.card--team-builder{
  border-top: 4px solid hsl(0, 78%, 62%);
  border-radius: 10px;
}
.card__icon{
  width: 35px; 
 padding-top: 20px; 
 align-self: flex-end;
}
.card--calculator{
  border-top: 4px solid hsl(212, 86%, 64%);
  border-radius: 10px;
  transform: translateY(-58%); 
}
.card__title{
  padding-bottom: 10px;
  color: hsl(234, 12%, 34%);
} 

footer{
  width: 100%;
  font-size: 10px;
  margin: 10px auto;
}

/* MOBILE */
@media  screen and (max-width:370px) {
  body{
    overflow-y:scroll ;
  }
  .container{
    padding:20px;
    margin: 0 auto;
  }
  .motto{
    margin: 20px auto;
    width: 100%;
    font-size: 20px;
  }
  .motto__description{
    width:100%;
    font-size: 13px;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 250px;
    padding: 20px 10px;
    row-gap: 30px;
  }
  .card--supervisor,.card--calculator{
    transform: translateY(0%); 
   } 
   .card--karma{
    grid-column:1;
  } 
  .card__icon{
    width:30px; 
    margin-top: 50px; 
    align-self: flex-end;
  }  
  .card__description{
    color:  hsl(229, 6%, 66%);
    width: 100%;
    font-size: 13px;
  }
  .card__title{
    padding-bottom: 10px;
    font-size: 14px;
    color: hsl(234, 12%, 34%);
  } 

}